name: unit-test-pipeline
on:
  push:
     branches:
      - feature/*
      - main
jobs:
  unit-tests:
    strategy:
      matrix:
        os: [ubuntu-latest, ubuntu-18.04]
        nodejs_version: [18,20]
    runs-on: ${{ matrix.os }}
    steps:
    - name: checkout repo
      uses: actions/checkout@v6

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.nodejs_version }}
      
    - name: my first cicd command
      run: echo "hello world!"

    - name: cache dependency 
      uses: actions/checkout@v3  
      with:
        path: node_modules
        key: ${{ runner.os }}-node-modules-${{ hashFiles('package-lock.json') }}

    - name: npm install dependency 
      run: npm install 


    

    

      